<header>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_home') }}">
            <img 
                src="{{ asset('build/images/Logo.webp') }}"  
                alt="Logo du Zoo Arcadia" 
                class="navbar-logo img-fluid" 
                width="70" 
                height="70">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_service') }}">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_habitat') }}">Habitats</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="avisDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Avis
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="avisDropdown">
                            <li><a class="dropdown-item" href="{{ path('app_avis') }}">Donner votre avis</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_valide_avis') }}">Ils en parlent</a></li>
                        </ul>
                    </li>                    
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
                    </li>
                    {% if app.user %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_dash_admin') }}">Dashboard Admin</a>
                            </li>
                        {% elseif is_granted('ROLE_EMPLOYE') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_dash_employe') }}">Dashboard Employé</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--HEADER END-->



