{% extends 'base.html.twig' %}

{% block title %}Index des animaux{% endblock %}


{% block body %}
 {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endfor %}
    <h1>Index des animaux</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>État</th>
                <th>Sexe</th>
                <th>Description</th>
                <th>Date de naissance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for animal in animals %}
            <tr>
                <td>{{ animal.id }}</td>
                <td>{{ animal.prenom }}</td>
                <td>{{ animal.etat }}</td>
                <td>{{ animal.sexe }}</td>
                <td>{{ animal.description }}</td>
                <td>{{ animal.dob ? animal.dob|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('dashboard_animal_show', {'id': animal.id}) }}">Voir</a>
                    <a href="{{ path('dashboard_animal_edit', {'id': animal.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('dashboard_animal_new') }}">Créer nouveau</a>
{% endblock %}
