{% extends 'base.html.twig' %}

{% block title %}Animal{% endblock %}

{% block body %}
    <h1>Animal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ animal.id }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ animal.prenom }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ animal.etat }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ animal.sexe }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ animal.description }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ animal.dob ? animal.dob|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Espèce</th>
                <td>{{ animal.espece.typeEspece }}</td>
            </tr>
            <tr>
                <th>Habitat</th>
                <td>{{ animal.habitat.nom }}</td>
            </tr>
            <tr>
                <th>Rapports</th>
                <td>
                    <ul>
                        {% for rapport in animal.rapports %}
                            <li>
                                <strong>Titre:</strong> {{ rapport.titre }}<br>
                                <strong>Date:</strong> {{ rapport.dateRapport ? rapport.dateRapport|date('d/m/Y') : '' }}<br>
                                <strong>Utilisateur:</strong> {{ rapport.utilisateur.prenom }} {{ rapport.utilisateur.nom }}<br>
                                <strong>Détails:</strong> {{ rapport.details }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('app_animal_index') }}">Retour à la liste</a>

    <a href="{{ path('app_animal_edit', {'id': animal.id}) }}">Modifier</a>

    {{ include('animal/_delete_form.html.twig') }}
{% endblock %}
