{{ form_start(form, {'attr': {'class': 'my-form'}}) }}
    <div class="mb-3">
        {{ form_label(form.prenom, 'Prénom', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
        {{ form_help(form.prenom, {'attr': {'class': 'form-text'}}) }}
    </div>
    
    <div class="mb-3">
        {{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        {{ form_help(form.nom, {'attr': {'class': 'form-text'}}) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_help(form.email, {'attr': {'class': 'form-text'}}) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.roles, 'Rôles', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
        {{ form_help(form.roles, {'attr': {'class': 'form-text'}}) }}
    </div>

    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}