{% extends 'base.html.twig' %}

{% block title %}Animal{% endblock %}

{% block body %}
    <h1>Animal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ animal.id }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ animal.prenom }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ animal.etat }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ animal.sexe }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ animal.description }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ animal.dob ? animal.dob|date('d/m/Y') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('app_animal_index') }}">retour à la liste</a>

    <a href="{{ path('app_animal_edit', {'id': animal.id}) }}">modifier</a>

    {{ include('animal/_delete_form.html.twig') }}
{% endblock %}
