{{ form_start(form, {'attr': {'class': 'my-form'}}) }}
    <div class="mb-3">
        {{ form_label(form.nom, 'Nom') }}
        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        {{ form_help(form.nom) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.description, 'Description') }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': 3}}) }}
        {{ form_help(form.description) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.typeHabitat, 'Type d\'Habitat') }}
        {{ form_widget(form.typeHabitat, {'attr': {'class': 'form-control'}}) }}
        {{ form_help(form.typeHabitat) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.image, 'Image (fichier PNG ou JPEG)') }}
        {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
        {{ form_help(form.image) }}
    </div>

    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
