{% extends 'base.html.twig' %}

{% block title %}Modifier Habitat{% endblock %}

{% block body %}
    <div class="card-body">
        {% if habitat.images|length > 0 %}
    <img src="/uploads/habitats_image/{{ habitat.images|first.fileName }}" alt="Image de l'habitat {{ habitat.nom }}" class="img-thumbnail" style="width: 100px; height: 100px; object-fit: cover;">
    {% else %}
    <span class="text-muted">Pas d'image associée</span>
    {% endif %}


        <div class="mb-4">
            {{ include('dashboard/habitat/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>
    </div>

    <div class="card-footer mt-3 d-flex justify-content-between">
        <a href="{{ path('dashboard_habitat_index') }}" class="btn btn-outline-secondary">Retour à la liste</a>
        {{ include('dashboard/habitat/_delete_form.html.twig') }}
    </div>
{% endblock %}